.Home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 960px) {
    .content, .content_body {
        min-width: 350px;
        max-width: 550px;
       
    }
}

@media (max-width: 370px) {
    .content, .content_body {
        min-width: 250px;
        max-width: 550px;
       
    }
}

@media (max-width: 960px) {
    .Side_menu {
        position:fixed;
        margin: 0px;
        z-index: 9;
    }

    .Home {
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .Side_bar {
        max-width: 300px;
        margin: 20px auto;
    }

    .content, .content_body, .content-menu {
        max-width: 600px;
       
    }

    h1 {
        font-size: 1.5em;
    }

    

}


.content {
    display: flex;
    flex-direction: column;
    color: black;
    height: fit-content;
    margin: auto;
}

.content-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px;
    margin: 5px 10px;
}

.content-menu li {
    cursor: pointer;
    padding: 10px;
    background-color: var(--highlight-color);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 1px 2px 10px rgba(248, 248, 248, 0.4);
}

.content-menu li:hover,
.content-menu li.active {
    background-color: var(--highlight-color);
    color: #fff;
    box-shadow: inset 1px 2px 10px rgba(255, 255, 255, 0.4);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.content_default {
    background-color: #fff;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5%;
    max-width: 600px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    color: black;
    margin: auto 30px;
    
}


.red_p {
    color: #f12c2c;
    font-weight: bold;
}